//
   Created by Mihnea on 6/14/2015.

extends layout
block content
   div#content
      h1(style='text-align: center') Disertation Thesis
      h2(style='text-align: center') Server for centralizing simulation parameter information
