doctype html
html
  head
    style
        title #{title}
        include ../css/bootstrap.css
        include ../css/myStyle.css
    title= title
  body
    #header
        nav.navbar.navbar-default
            div.container-fluid
                ul.nav.navbar-nav
                    li.navLi
                        a(href='/').boldText
                            img(id='img_logo_utcn', class='img', src="/logo_utcn.png")
                    li.navLi
                        a(href='/patients')
                            p.navLiText.boldText
                                | Patients
                    li.navLi
                        a(href='#')
                            p.navLiText.boldText
                                | About
    #section
        section.content
        block content