doctype html
html
  head
    title= title
body
    header
    h1=title
    section.upperMenu
        ul
          span
            a(href='/setupSimParams') Simulate
            | &#09 &#149 &#09
            a(href='/analyze') Analyze
    section.content
    block content