doctype html
html
  head
    style
        include ../css/style2.css
    title= title
  body
    #header
    section.upperMenu
        ul
          span
            a(href='/') Home
            | &#09 &#149 &#09
            a(href='/patients') Patients
    #section
        section.content
        block content