//
   Created by Mihnea on 7/4/2015.

extends layout
block content

    if (patients)
        table
            thead
                tr
                    td(style='width: 150px')
                        b CNP
                    td(style='width: 150px')
                        b Lastname
                    td(style='width: 150px')
                        b Firstname
            tbody
                each patient in patients
                    tr
                        td(style='width: 150px')
                           a(href='/patient/#{patient._id}') #{patient._id}
                        td(style='width: 150px')
                            | #{patient.name.last}
                        td(style='width: 150px')
                            | #{patient.name.first}
                    p

    form(method='post', action='/addPatient', enctype='application/x-www-form-urlencoded')
            p
            span
                input(name='cnp', placeholder='CNP', style='width:150px')
            span
                input(name='lastname', placeholder='Last name', style='width:150px')
            span
                input(name='firstname', placeholder='First name', style='width:150px')
            span
                input(type='submit', value='Add patient')
